.container{
    display: flex; 
    align-items: flex-end; 
    justify-content: space-around; 
    width: 800px; 
    height: 500px; 
    background-color: antiquewhite;
}
.component{
    width: 100px;
    background-color: blueviolet;
}